{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="MonteRanco - Estudio de Grabación - Futrono" />
    <meta name="keywords" content="MonteRanco - Estudio de Grabación - Futrono" />
    <meta name="author" content="www.skeleton.cl"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>

<body>
    <div class="container box-portada">
        <div class="row">
            <div class="col-12">
                <img class="logo-monteranco" src={% static 'img/logo/logo-monteranco.svg' %}>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="box-unete">
                    <h6 class="txt-unete">- ÚNETE A NUESTRAS REDES -</h6>
                    <a target="_blank" href="https://www.youtube.com/channel/UCcvsTKsfFkvFb949QzrU1zQ" class="ico-social"><i class="fa fa-youtube-play"></i></a>
                    <a target="_blank" href="https://vimeo.com/monteranco" class="ico-social"><i class="fa fa-vimeo"></i></a>
                    <a target="_blank" href="https://soundcloud.com/monteranco" class="ico-social"><i class="fa fa-soundcloud"></i></a>
                    <a target="_blank" href="https://open.spotify.com/user/nki05aukm1tl84zq9la2wlzk5?si=c6658840e00446cc" class="ico-social"><i class="fa fa-spotify"></i></a>
                    <a target="_blank" href="https://www.instagram.com/monteranco_" class="ico-social"><i class="fa fa-instagram"></i></a>
                    <a target="_blank" href="https://www.facebook.com/monteranco" class="ico-social"><i class="fa fa-facebook-f"></i></a>
                </div>
            </div>
        </div>            
    </div>
</body>

<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</html>